@charset "UTF-8";
body{
    color: #333;
}
.header-object{
    margin-top: 10px;
    text-align: left;
    display: block;
}
#pad{
    padding-right: 25px;
}
#pad a, a:visited, a:hover{
  color: #fff;
  text-decoration: none;
}
/* Pjotr Edit dit alleen */
.section-object1{
  margin-left: 100px;
  margin-right: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  align-items: center;
}
#Statement{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: -1.2px;
  word-spacing: 1.2px;
  color: #E94922;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
#statement{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
  letter-spacing: -1.4px;
  word-spacing: 1px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
/* Pjotr Edit dit alleen */
.adress-stad-postcode{
    font-size: 16px;
    font-weight: 400;
    color: #999;
}
.header-Pricing-House{
    font-size: 20px;
    line-height: 28px;
}
.nav {
    background-color: #8b288f;
    height: 75px;
}
.nav-right{
  width: 120px;
  float: right;
  height: 100%;
  background-color: gray;
}
.nav-right ul{
  list-style-type: none;
}
.nav ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
    float: right;
}
.nav li{
    display: inline;
    line-height: 75px;
    color: white;
}
.breadcrums {
    background-color: #e6f2f7;
    height: 50px;
}
.breadcrums p {
    line-height: 50px;
    color: #999;
}
.breadcrums a {
    color: #666;
    text-decoration: none;
}
.header-object .row {
    margin-top: 15px;
}
