@charset "UTF-8";
html{
}
body{
    color: #333;
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out{
  opacity: 0;
  transition: none;
}

.Text{
	font-family: Georgia;
    background-color: white;
    color: black;
    border-radius: 20px;
-webkit-box-shadow: 18px 5px 40px -11px rgba(0,0,0,0.72);
-moz-box-shadow: 18px 5px 40px -11px rgba(0,0,0,0.72);
box-shadow: 18px 5px 40px -11px rgba(0,0,0,0.72);
overflow: auto;
width: 500px;
min-height: 120px;
position: relative;
top: 300px;
}
