@charset "UTF-8";
body{
    color: #333;
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out{
  opacity: 0;
  transition: none;
}
* {box-sizing: border-box;}
.header-object{
    margin-top: 10px;
    text-align: left;
    display: block;
}
#pad{
    padding-right: 25px;
}
#pad, a, a:visited, a:hover{
  color: #fff;
  text-decoration: none;
}
/* Pjotr Edit dit alleen hier benenden. */
.section-object1-media{
  margin-left: 100px;
  margin-right: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  align-items: left;
}

#statement{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
  letter-spacing: -1.4px;
  word-spacing: 1px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
/* Pjotr Edit dit alleen hierboven.
Dit was een kleine teskt voor de stuff hier boven.
*/
/* Pjotr Edit dit alleen hierboven.
Dit was een kleine teskt voor de stuff hier boven.
*/
.adress-stad-postcode{
    font-size: 16px;
    font-weight: 400;
    color: #999;
}
.header-Pricing-House{
    font-size: 20px;
    line-height: 28px;
    color: #333;
    text-decoration: none;
}
.nav {
    background-color: #8b288f;
    height: 85px;
}
.nav a{
  color: blue;
}
.nav-right{
  width: 300px;
  clear: both;
  height: 850px;
  background-color: gray;
  border: 5px groove #336ba3;
  border-radius: 10px;
}
.nav-right ul{
  list-style-type: none;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}
.container-head{
  background-color: #8b288f;
  height: 85px;
}
.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}
.grow {
	transition: all .2s ease-in-out;
}
.grow:hover {
	transform: scale(1.03);
}
.btn {
  background-color: #8b288f;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #b442b8;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
.nav ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
    float: right;
}
.nav li{
    display: inline;
    line-height: 85px;
    color: white;
}

/* Dit gehele stuk is voor de share optie. */
/*.share-dropdown-icon{
  transform: rotate(180deg);
}*/
/* Dit was het gedeelte waar de share optie voor was. Edit: we moeten misschien een soort draaiend logotje hebben. */
.contact-gegevens-h, .contact-gegevens-body{
  margin-left: 50px;
}
.contact-link{
  color: #63c3ff;
}
.contact-link:hover{
  color: #ff0000;
}
/*.col-md-4 {
  margin-right: -10px;
}*/
.Footer-Object{
  width: 100%;
  height: 140px;
  background-color: #8b288f;
}
/* Helaas heb ik een bug gevonden waar dan de achter grond heel lelijk uit komt. */
.footer-nav ul{
  list-style-type: none;
}
.footer-nav li{
  position: relative;
  left: 130px;
  top: -60px;
  list-style-type: none;
  display: inline;
  margin-left: 10px;
}
.footer-nav a{
  color: white;
}

/* Hier onder is strict verboden voor anderen mensen. Pjotr mag hier alleen in. */
.contact-gegevens{
  margin-bottom: 50px;
}
.contact-gegevens-h, .contact-gegevens-body{
  margin-left: 50px;
}
/*.contact-gegevens-body a{
  color: #333
}*/
/*HIER BEGINT DE MODEL CONTENT ALLEEN PJOTR MAG AAN DEZE CODE ZITTEN WANT HET IS BELANGRIJK VOOR DE HELE FUNCTIE VAN DE WEBSITE.*/