@charset "UTF-8";
body{
    color: #333;
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out{
  opacity: 0;
  transition: none;
}
* {box-sizing: border-box;}
.header-object{
    margin-top: 10px;
    text-align: left;
    display: block;
}
#pad{
    padding-right: 25px;
}
#pad, a, a:visited, a:hover{
  color: #fff;
  text-decoration: none;
}
/* Pjotr Edit dit alleen hier benenden. */
.section-object1-media{
  margin-left: 100px;
  margin-right: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  align-items: left;
}

#statement{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
  letter-spacing: -1.4px;
  word-spacing: 1px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}
/* Pjotr Edit dit alleen hierboven.
Dit was een kleine teskt voor de stuff hier boven.
*/
/* Pjotr Edit dit alleen hierboven.
Dit was een kleine teskt voor de stuff hier boven.
*/
.adress-stad-postcode{
    font-size: 16px;
    font-weight: 400;
    color: #999;
}
.header-Pricing-House{
    font-size: 20px;
    line-height: 28px;
    color: #333;
    text-decoration: none;
}
.nav {
    background-color: #8b288f;
    height: 85px;
}
.nav-right{
  width: 300px;
  float: right;
  height: 850px;
  background-color: gray;
  border: 5px groove #336ba3;
  border-radius: 10px;
}
.nav-right ul{
  list-style-type: none;
}
input[type=submit]{
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  display: inline-block;
  font-size: 16px;
  padding: 16px 32px;
  transition-duration: 0.4s;
  cursor: pointer;
}
input[type=submit]:hover{
  background-color: #4CAF50;
  color: white;
}
#submit-button{
  margin-top: 20px;
}
.gender{
  margin-bottom: 10px;
}
.nav ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
    float: right;
}
.nav li{
    display: inline;
    line-height: 85px;
    color: white;
}
.Customer-Prijzen{
  margin-top: 50px;
}
.breadcrums {
    background-color: #e6f2f7;
    height: 50px;
}
.breadcrums p {
    line-height: 50px;
    color: #999;
}
.breadcrums a {
    color: #666;
    text-decoration: none;
}
.header-object .row {
   margin-bottom: 15px; /* Vraag over of margins tussen objecten nog steeds werkt.*/
}
img.img-fluid.rounded{
  margin-left:10px;
  max-height: 320px;
}
img.img-fluid.rounded:hover{
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 15px;
}
.text-for-Pictures{
  margin-top: 20px;
  margin-bottom: -35px;
}
/* Dit gehele stuk is voor de share optie. */
.share-menu-object{
  position: absolute;
  left: 90%;
  top: 135px;
  display: inline-block;
  z-index: 1;
}
.share-menu__dropdown-share-button{
  background-color: #63c3ff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.share-dropdown-content{
  display: none;
  position: absolute;
  background-color: #63c3ff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  overflow: hidden;
  border-radius: 10px;
}
.share-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.share-dropdown-content a:hover
{background-color: #ff0000}

.share-menu-object:hover .share-dropdown-content {
  display: block;
}
.share-menu-object:hover .share-menu__dropdown-share-button {
  background-color: #ff0000;
}
/*.share-dropdown-icon{
  transform: rotate(180deg);
}*/
/* Dit was het gedeelte waar de share optie voor was. Edit: we moeten misschien een soort draaiend logotje hebben. */
.object-media-teasers-foto-plattegrond-video a{
  color: blue;
  padding: 15px;
  border-top: 1px solid blue; 
  border-bottom: 1px solid blue;
  border-left: 1px solid blue;
  border-right: 1px solid blue; 
}
.object-media-teasers-foto-plattegrond-video a:hover{
  box-shadow: 2px 2px 1px #c0c0c0;
}
#fotos{
  color: blue;
  border-color: blue;
  cursor: pointer;
}
#kaartje{
  margin-left: 5px;
}
/* Hier begint styles voor PHP */
td{
  padding-right: 10px;
}
/* Hier eindigt styles for PHP */
.house-description{
  display: block;
  border: 5px groove #336ba3 ;
  border-radius: 10px;
  box-sizing: inherit;
  margin-left: 100px;
  margin-bottom: 100px;
  margin-top: 30px;
  overflow: auto;
  max-height: 330px;
  max-width: 1300px;
}
.house-description-title{
  margin-top: 10px;
  margin-left: 30px;
}
.object-description-body{
  margin-bottom: 15px;
  margin-left: 30px;
}
.contact-gegevens-h, .contact-gegevens-body{
  margin-left: 50px;
}
.contact-link{
  color: #63c3ff;
}
.contact-link:hover{
  color: #ff0000;
}
/*.col-md-4 {
  margin-right: -10px;
}*/
#google-maps{
  border-top: 5px groove #336ba3;
  border-radius: 10px;
  width: 100%;
  height: 350px;
}
.Footer-Object{
  width: 100%;
  height: 140px;
  background-color: #8b288f;
}
/* Helaas heb ik een bug gevonden waar dan de achter grond heel lelijk uit komt. */
.footer-nav ul{
  list-style-type: none;
}
.footer-nav li{
  position: relative;
  left: 130px;
  top: -60px;
  list-style-type: none;
  display: inline;
  margin-left: 10px;
}

/* Hier onder is strict verboden voor anderen mensen. Pjotr mag hier alleen in. */
.contact-gegevens{
  margin-bottom: 50px;
}
.contact-gegevens-h, .contact-gegevens-body{
  margin-left: 50px;
}
/*.contact-gegevens-body a{
  color: #333
}*/
/*HIER BEGINT DE MODEL CONTENT ALLEEN PJOTR MAG AAN DEZE CODE ZITTEN WANT HET IS BELANGRIJK VOOR DE HELE FUNCTIE VAN DE WEBSITE.*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
img .modal-content{
  width: 100%;
}
/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  width: 100%;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover{
  background-color: rgba(255, 255, 255, 0.8);
}
.up{
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 6.3%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 0 3px 3px;
  user-select: none;
  -webkit-user-select: none;
}
.down{
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 98.5%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 3px 3px 0 0;
  user-select: none;
  -webkit-user-select: none;
}
.up:hover,
.down:hover{
  background-color: rgba(255, 255, 255, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
img .mySlides {
  margin-bottom: -4px;
  margin-left: 0.5px;
}
